{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": ["error"],
    "sort-imports": ["error"],
    "@typescript-eslint/explicit-module-boundary-types": [
      "warn",
      {
        "allowedNames": ["makeUnitFactory"]
      }
    ],
    "@typescript-eslint/no-empty-function": [
      "error",
      {
        "allow": ["private-constructors"]
      }
    ]
  },
  "overrides": [
    {
      "files": ["test/**/*.ts"],
      "env": {
        "mocha": true
      }
    }
  ]
}